# https://t.me/oliservice
CHANNEL=oliservice

LOCALE=zh-tw
TIMEZONE=Asia/Taipei

TELEGRAM=oliservice
TWITTER=oobwei
GITHUB=tbdavid2019
DISCORD=https://discord.gg/RkAnebWzj4
PODCASRT=https://PODCASRT.david888.com
# MASTODON=mastodon.social/@Mastodon
# BLUESKY=bsky.app

# FOOTER_INJECT=DAVID888.com
# HEADER_INJECT=DAVID888.com

NO_FOLLOW=false
NO_INDEX=false
HIDE_DESCRIPTION=false

TELEGRAM_HOST=t.me
STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
TAGS="潛力股,SP500,台灣中型100,台灣50,火線交易"
COMMENTS=""
LINKS="DAVID888,https://david888.com;股靈機器人,https://bot.david888.com;Podcast,https://podcast.david888.com"
NAVS=""
RSS_BEAUTIFY="true"